<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Naatit</title>
        <meta name="description" content="kun et muista miten ne heitetään...">
        <meta name="author" content="Miikka Ylätalo">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:video" content="https://naatit-cdn.mehis.dev/de_ancient_b_execute.webm">
        <meta property="og:video:type" content="video/webm">
        <meta property="og:video:width" content="1920">
        <meta property="og:video:height" content="1080">
        <link rel="stylesheet" href="site.css"> 
    </head>
    <body lang="fi">
        <div class="front">
            <div class="container">
                <div class="title-container">
                    <h1><a href="#">Naatit</a></h1>
                </div>
                <div class="flavor">
                    <p>kun et muista miten ne heitetään...</p>
                </div>
                <ul class="map-list">
                    {% for map in maps %}
                        {% if not map.hidden %}
                            <li>
                                <a href="/{{ map.name | slugify }}/">{{ map.name }}</a>
                                <ul>
                                    {% for video in map.videos %}
                                        {% if not video.hidden %}
                                            <li><a href="/{{ map.name | slugify }}/#{{ video.id }}">{{ video.title }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
</html>
